* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    user-select: none;
    text-align: center;
}

#todoForm{
    padding: 5px 0px;
}

#todoList{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#todoInput {
    color:darkgreen;
}
h3 {
    color:gold
}

.todoInput{
    outline: none;
    border: none;
}

.done{
    text-decoration: line-through;
    color: gray;
}

.colour{
    text-decoration: underline;
    color: darkgreen;
}


.toggleButton{
    color: blue;
}
.editButton{
    color: orange;
}
.impButton{
    color: rgb(37, 207, 49);
}


.deleteButton{
    color: red;
}

